<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <h1>Difficulte:</h1>
        <h2>Choisissez votre mode de jeux</h2>
        <button onclick="location.href='/temp'">Clasic</button>
        <button onclick="location.href='/personalisation'">Personalisation</button>
    </body>
</html>

