<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Egalite</title>
</head>
    <body>
        <img src="../images/imgcss/egalite.png" alt="image egalite" class="imageVictoire">
        <img src="../images/imgcss/backgroundImg.png" alt="background image" class="backgroundVictoire">
        <div class="bouton-victoire">
        <button onclick="location.href='/merch'" >Choisissez votre skin</button>
        <button onclick="location.href='/diff'" >Relancer une partie</button>
        </div>
    </body>
</html>