<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <div class="indexh1"><h1>Jouez au<br>
            puissance 4!</h1>
        <img src="../images/imgcss/image.png" alt="puissance4decote"></div>
        <div class="indexh2"><h2>Défiez votre ami à l'un des jeux cultes de votre enfance!</h2></div>
        <div class="indexprenom"><h2>Simon-Pruvot Kevin-Bura Simon-Beausire</h2></div>
        <div class="indexboutonjouer"><button onclick="location.href='/play'">Jouer</button></div>
        <button onclick="location.href='/merch'">Choisissez votre skin</button>
    </body>
</html>

