<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <div class="indexh1"><h1>Jouez au<br>
            puissance 4!</h1>
        <img src="../images/imgcss/image.png" alt="puissance4decote"></div>
        <img src="../images/imgcss/backgroundImg.png" alt="ima" class="indexbackground">
        <div class="indexh2">
            <h2>Défiez votre ami à l'un des jeux cultes de votre enfance!</h2>
        </div>
        <div class="indexprenom">
            <h2>Simon-Pruvot Kevin-Bura Simon-Beausire</h2>
        </div>
        <div class="index2">
            <h1>Créez le puissance 4<br>
            de vos rêves!</h1>
            <img src="../images/imgcss/coinjeux.png" alt="puissance4decote">
        </div>
        <img src="../images/imgcss/backgroundImg.png" alt="ima" class="indexbackground2">
        <div class="indexgrand">   
            <h2>Faites grandire le terrain de jeux autant<br>
            que vous voulez gràce a notre création<br>
            de puissance 4 personnalisez!</h2>
        </div>
        <div class="indexboutonjouer">
            <button onclick="location.href='/diff'">Jouer</button>
        </div>
        <div class="index3">
            <h1>Personnalisez vos<br>jetons!</h1>
            <img src="../images/pion3.png">
        </div>
        <img src="../images/imgcss/backgroundImg.png" alt="ima" class="indexbackground3">
        <div class="indexh2-3">
            <h2>Passez à quelque chose de<br>
            plus grandiose et<br>
            impréssionnez vos<br>
            adversaires avec des<br>
            skins personnalisés!</h2>
        </div>
        <div class="index-bouton-skin">
            <button onclick="location.href='/merch'">Choisissez votre skin</button>
        </div>
    </body>
</html>

