<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <h1>Bienvenue!</h1>
        <h2></h2>
        <button onclick="location.href='/diff'">Choisissez votre difficulte</button>
        <button onclick="location.href='/merch'">Choisissez votre skin</button>
    </body>
</html>

