<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les skins disponibles</title>
    <link rel="stylesheet" href="./CSS/base.css">
    <link rel="stylesheet" href="./CSS/merch.css">
</head>
<body>
    {{template "header" .}}


    <div class="gallery-skin"> 
    {{range .}}
    <div class="item">
        <img src="../images/{{.}}" class="skin">  
        <form method="POST" action="/merch"> 
            <input type="hidden" name="pion1" value="{{.}}">
            <input type="submit" class="bouton-skin" value="Joueur 1">
        </form>
        <form method="POST" action="/merch"> 
            <input type="hidden" name="pion2" value="{{.}}">
            <input type="submit" class="bouton-skin" value="Joueur 2">
        </form>
    </div>
    {{end}}
    </div>
    <div class="camera">
        <a href="/camera">
        🎥 Take a New Photo
        </a>
    </div>
</body>
</html>