<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les skins disponibles</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    {{template "header" .}}
    <div class="gallery-skin"> 
    {{range .}}
    <div class="item">
        <img src="../images/{{.}}" class="skin">  
        <form method="POST" action="/play"> 
            <input type="hidden" name="pion" value="../images/{{.}}">
            <input type="submit" class="bouton-skin" value="Choisir">
        </form>
    </div>
    {{end}}
</div>
</body>
</html>