<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <h1>Hello 2</h1>
        <h2>Choisissez votre mode de jeux</h2>
        <h2>Choisissez la taille de la grille</h2>
        <form action="/play" method="get">
            <label for="rows">Lignes :</label>
            <input type="number" id="rows" name="rows" min="4" max="10" value="6">
            <label for="cols">Colonnes :</label>
            <input type="number" id="cols" name="cols" min="4" max="10" value="7">
            <button type="submit">Créer la grille</button>
        </form>
    </body>
</html>








