<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/base.css">
    <link rel="stylesheet" href="./CSS/play.css">
</head>
    <body>
        <div class="zoom">

        {{template "header" .}}
        
        <div class="gallery" style="--cols: {{.ColsPlusOne}};">
        {{range .Colonnes}}
        <form method="POST" action="/play"> 
            <input type="hidden" name="col" value="{{.}}">
            <input type="submit" class="j_button" value="">
        </form>
        {{end}}
        {{range .Grille}}
            {{range .}}
            <div class="circle_wrapper"> 
                <img src="{{.}}" class="jeton">
            </div>
            {{end}}
        {{end}}
        </div>
        </div>
    </body>
</html>