<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        <h1>Hello 2</h1>
        <h2>Choisissez votre mode de jeux</h2>
        <div class="gallery">
        <img classe="a" src="../images/JetonRouge.png" alt="pion"  class="jeton">
        <img classe="b" src="../images/JetonRouge.png" alt="pion"  class="jeton">
        </div>
        
    </body>
</html>