<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
    <body>
        {{template "header" .}}
        <div class="gallery"> 
        {{range .Colonnes}}
        <form method="POST" action="/play"> 
            <input type="hidden" name="col" value="{{.}}">
            <input type="submit" class="jeton" value="">
        </form>
        {{end}}
        {{range .Grille}}
            {{range .}}
            <img src="{{.}}" class="jeton">
            {{end}}
        {{end}}
        </div>
        
    </body>
</html>