<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Regle du Jeu</title>
</head>
    <body>
        {{template "header" .}}
        <div class="regle"></div>
        <h1>🟡 Règles du jeu - Puissance 4</h1>
        <h2>🎯 Objectif du jeu</h2>
        <h3>Être le premier joueur à aligner 4 jetons de sa couleur horizontalement, verticalement ou en diagonale.</h3>
        </div>
    </body>
</html>