
body {
  font-family: "Tektur", sans-serif;
  background-color: rgba(9, 10, 36, 1);
  max-width: 98.75vw;
  width: 100vw;
  overflow-x: hidden;
}

button {
  padding: 15px 30px;
  background-color: #edf467;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.7vw;
}

button:hover {
  background-color: #fcffbc;
}

header {
  background-color: rgba(22, 19, 72, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  width: 90vw;
  margin: auto;
  margin-top: 40px;
}

header h1 {
  margin: 0;
  font-size: 50px;
  font-family: "Tektur", sans-serif;
  font-weight: 700;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff4444;
}

.difftext {
  color: white;
  text-align: center;
}
