
.indexh1{
  color: #ffffff;
  display: flex;  
  justify-content: space-between;
  margin-left: 10vw;
  margin-top: 5vw;
  font-size: 2.3vw;
}

.indexh1 img{
  width: 35vw;
  height: auto;
  margin-right: 7vw;
}

.indexh2{
  color: #ffffff;
  margin-left: 10vw;
  margin-top: -14vw;
  font-size: 1vw;
  font-family: "Tektur", sans-serif;
  font-weight: bold;
}

.index2{
  color: #ffffff;
  display: flex;  
  margin-left: 10vw;
  margin-top: 5vw;
  font-size: 2.3vw;
  width: 99vw;
}

.index2 h1{
  width: 70vw;
}

.index2 img{
  display: flex;
  z-index: 10;
  margin-top: -9vw;
  width: 50vw;
  height: auto;
  margin-right: 17rem;
}

.indexgrand{
  color: #ffffff;
  margin-left: 10vw;
  margin-top: -10vw;
  font-size: 1vw;
  font-family: "Tektur", sans-serif;
  font-weight: bold;
}

.indexboutonjouer {
  padding-left: 10vw;
  padding-top: 4vw;
}

.index3 h1{
  text-align: right;
  margin-right: 10vw;
  font-size: 5vw;
  padding-top: 5vw;
  color: #ffffff;
}

.index3 img{
  display: flex;
  z-index: 10;
  margin-top: -3vw;
  margin-left: 10vw;
  width: 20vw;
  height: auto;
  margin-right: 9rem;
}

.indexh2-3{
  margin-top: -14vw;
  text-align: right;
  margin-right: 11vw;
  color: #ffffff;
  font-size: 1.2vw;
}

.index-bouton-skin{
  margin-top: 6vw;
  margin-left: 68vw;
  margin-bottom: 10vw;
}

.indexprenom {
  width: 100vw;
  height: 35px;
  margin: auto;
  color: #ffffff;
  word-spacing: 20vw;
  background-color: #ff595985;
  margin-top: 14vw;
  padding-left: 13vw;
  padding-top: 0.5vw;
  padding-bottom: 3vw;
  font-size: 1vw;
}

.indexbackground{
  position: absolute;
  top: 3vw;
  left: -35vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
}

.indexbackground2{
  position: absolute;
  top: 50vw;
  left: 28vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.indexbackground3{
  position: absolute;
  top: 200vh;
  left: -25vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}