*{
    text-align: center;
    justify-content: center;
    background-color:#32346F;
}


button {
  padding: 12px 20px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(7, 100px); 
}

.jeton {
    width: 100px;
    height: 100px;
    object-fit: cover;
}