
body {
  font-family: "Tektur", sans-serif;
  background-color: rgba(9, 10, 36, 1);
  max-width: 98.75vw;
  width: 100vw; /* Full width */
  overflow-x: hidden;
}

button {
  padding: 15px 30px;
  background-color: #edf467;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.7vw;
}

button:hover {
  background-color: #fcffbc;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(var(--cols), 100px);
    text-align: center; 
    justify-content: center; 
}

.circle_wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(39, 112, 238);
    display: flex;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* coupe l'image pour rester dans le cercle */
}

.j_button{
  width: 100px;
  height: 100px;
}

.jeton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(39, 112, 238);
}

.gallery-skin {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #FFED19;
}

.bouton-skin {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
}

header {
  background-color: rgba(22, 19, 72, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  width: 90vw;
  margin: auto;
  margin-top: 40px;
}

/* Titre du site */
header h1 {
  margin: 0;
  font-size: 50px;
  font-family: "Tektur", sans-serif;
  font-weight: 700;
}

/* Navigation */
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff4444;
}

.player{
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  width: 30vw;
  height: 75vh;
  margin-left: 850px;
  margin-top: -260px;
}

.indexh1{
  color: #ffffff;
  display: flex;  
  justify-content: space-between;
  margin-left: 10vw;
   margin-top: 5vw;
   font-size: 2.3vw;
}

.indexh1 img{
  width: 35vw;
  height: auto;
  margin-right: 7vw;
}

.indexh2{
  color: #ffffff;
   margin-left: 10vw;
   margin-top: -14vw;
   font-size: 1vw;
   font-family: "Tektur", sans-serif;
   font-weight: bold;
}

.index2{
  color: #ffffff;
  display: flex;  
  margin-left: 10vw;
   margin-top: 5vw;
   font-size: 2.3vw;
   width: 99vw;
}

.index2 h1{
  width: 70vw;
}

.index2 img{
  display: flex;
  z-index: 10;
  margin-top: -9vw;
  width: 50vw;
  height: auto;
  margin-right: 17rem;
}

.indexgrand{
  color: #ffffff;
   margin-left: 10vw;
   margin-top: -10vw;
   font-size: 1vw;
   font-family: "Tektur", sans-serif;
   font-weight: bold;
}

.indexboutonjouer {
  padding-left: 10vw;
  padding-top: 4vw;
}

.index3 h1{
  text-align: right;
  margin-right: 10vw;
  font-size: 5vw;
  padding-top: 10vw;
  color: #ffffff;
}

.index3 img{
  display: flex;
  z-index: 10;
  margin-top: -3vw;
  margin-left: 10vw;
  width: 20vw;
  height: auto;
  margin-right: 9rem;
}

.indexh2-3{
  margin-top: -14vw;
  text-align: right;
  margin-right: 11vw;
  color: #ffffff;
  font-size: 1.2vw;
}

.index-bouton-skin{
  margin-top: 6vw;
  margin-left: 68vw;
  margin-bottom: 10vw;
}

.indexprenom {
  width: 100vw;
  height: 35px;
  margin: auto;
  color: #ffffff;
  word-spacing: 20vw;
  background-color: #ff595985;
  margin-top: 14vw;
  padding-left: 13vw;
  padding-top: 0.5vw;
  padding-bottom: 3vw;
   font-size: 1vw;
}

.camera a{
  margin-left: 45vw;
  background:#4C63C6; 
  color:white; 
  padding:8px 16px; 
  border-radius:6px; 
  text-decoration:none;
}

.camera{
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.indexbackground{
  position: absolute;
  top: 3vw;
  left: -35vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
}

.indexbackground2{
  position: absolute;
  top: 50vw;
  left: 28vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.difftext{
  color: white;
  text-align: center;
}

.diffb{
  display: flex;
  justify-content: center; 
  gap: 20vw;  
  margin-top: 4vw;
}

.diffpic{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-left: 39vw;
  margin-top: 5vw;
  gap: 19vw; 
}

.diffpic{
  width: 15vw;
  height: 15vw;
}

.diffb button{
  width: 20vw;
}

.diffbody {
  height: 100vh;
  overflow: auto;
}
.diffbody::-webkit-scrollbar {
  display: none;
}
.diffbody {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.zoom{
   zoom: 0.84;
}

.imageVictoire{
  width: 60vw;
  display: flex;
  margin: auto;  
}
.imageJoueurGagnant{
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  border-radius: 50%;
}

.bouton-victoire {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 10vw;
}

.backgroundVictoire{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.indexbackground3{
  position: absolute;
  top: 180vh;
  left: -25vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.regle{
  background-color: white;
}